---
import Search from "../common/Search.astro";
import CardRestaurants from "./cardRestaurants.astro";
const { user } = Astro.props;
if (!user) throw new Error("Prop 'user' no definida en DashboardPanel");
---
<div class="bg-backgroundgreen py-8 flex items-center justify-center  md:py-12">
    <div class="mx-auto max-w-screen-xl px-4 2xl:px-0">
      <!-- Heading & Filters -->
      <h1 class="text-3xl md:text-4xl font-bold text-slate-800 text-center mb-10">My Panel</h1>
         <Search/> 
      <div class="mb-4 grid gap-4 sm:grid-cols-2 md:mb-8 lg:grid-cols-3 xl:grid-cols-4">
        <!--CARD 1 -->
        <CardRestaurants user={user} />
      </div>
    </div>
</div>


    
    