---

---
<div class="min-h-screen bg-green-50 flex flex-col justify-center py-12 sm:px-6 lg:px-8">
    <div class="sm:mx-auto sm:w-full sm:max-w-md">
      <!-- Logo -->
      <div class="text-center mb-8">
        <img class="mx-auto h-40 w-auto" src="/images/logo.png" alt="Gastrosafe" >
      </div>

      <!-- Formulario de login -->
      <div class="bg-white px-6 py-8 rounded-xl shadow-lg">
        <!-- Título -->
        <h2 class="text-3xl font-extrabold text-gray-900 text-center mb-8">
          Login
        </h2>

        <!-- Formulario -->
        <form action="/api/signin" method="post" class="space-y-6">
          <!-- Correo electrónico -->
          <div>
            <label for="email" class="block text-sm font-medium text-gray-700">Email</label>
            <input type="email" id="email" name="email" required class="mt-2 px-4 py-2 w-full border border-gray-300 rounded-lg shadow-sm focus:ring-green-500 focus:border-green-500 text-gray-900 placeholder-gray-500 focus:outline-none">
          </div>

          <!-- Contraseña -->
          <div>
            <label for="password" class="block text-sm font-medium text-gray-700">Password</label>
            <input type="password" id="password" name="password" required class="mt-2 px-4 py-2 w-full border border-gray-300 rounded-lg shadow-sm focus:ring-green-500 focus:border-green-500 text-gray-900 placeholder-gray-500 focus:outline-none">
          </div>

          <!-- Botón de inicio de sesión -->
          <div>
            <button type="submit" class="w-full py-2 px-4 bg-green-600 hover:bg-green-400 text-white font-semibold rounded-lg shadow-md transition duration-200 transform hover:scale-105 focus:outline-none">
              Login
            </button>
          </div>
        </form>

        <!-- Enlace para crear una cuenta -->
        <p class="mt-6 text-center text-sm text-gray-600">
          ¿No tienes cuenta? <a href="/register" class="text-green-500 hover:text-green-600 font-medium">Regístrate aquí</a>
        </p>
        

        <!-- Enlaces adicionales  -->
        <div class="mt-4 text-center">
          <div class="flex items-center">
              <input id="remember_me" name="remember" type="checkbox" value="1" class="form-checkbox h-4 w-4 text-indigo-600 transition duration-150 ease-in-out">
              <label for="remember_me" class="ml-2 block text-sm leading-5 text-gray-900">Remember me</label>
          </div>
        </div>
      </div>
    </div>
  </div>

