---
// Obtener el término de búsqueda desde la URL (query string)
const { searchQuery = "" } = Astro.props;
---

<!-- Buscador -->
<!-- <div class="col-start-1 row-start-1">
    <form method="GET" class="mb-6">
    <div class="relative">
      <div class="absolute inset-y-0 start-0 flex items-center ps-3 pointer-events-none">
        <svg class="w-4 h-4 text-gray-500" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
          fill="none" viewBox="0 0 20 20">
          <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
            d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z"/>
        </svg>
      </div>
      <input type="search" name="q" 
      value={searchQuery} id="default-search"
        class="block w-full p-4 ps-10 text-sm text-gray-900 border border-gray-300 rounded-lg bg-gray-50 focus:ring-blue-500 focus:border-blue-500"
        placeholder="Buscar" required />
      <button type="submit"
        class="text-white absolute end-2.5 bottom-2.5 bg-green-500 hover:bg-green-700 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-4 py-2">
        Search
      </button>
    </div>
    </form>
  </div> -->
 <!-- Search Bar -->
 <div class="max-w-lg mx-auto mb-12">
  <form method="GET" class="mb-6">
  <div class="relative">
      <input 
          type="search" 
          placeholder="Search" 
          name="q" 
          value={searchQuery} id="default-search" required
          class="w-full py-3 px-5 pr-14 text-slate-700 bg-white border border-slate-300 rounded-full shadow-sm focus:ring-2 focus:ring-teal-500 focus:border-teal-500 outline-none transition-shadow duration-200 ease-in-out placeholder-slate-400"
      >
      <button type="submit" class="absolute inset-y-0 right-0 flex items-center justify-center px-5 text-slate-400 hover:text-teal-600 transition-colors duration-200 ease-in-out" aria-label="Buscar">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" class="w-5 h-5">
              <path stroke-linecap="round" stroke-linejoin="round" d="M21 21l-5.197-5.197m0 0A7.5 7.5 0 105.196 5.196a7.5 7.5 0 0010.607 10.607z" />
          </svg>
      </button>
  </div>
</form>
</div>
