---
import "../styles/global.css";
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>GastroSafe</title>
	</head>
	<body class="font-sans bg-backgroundgreen">
		<slot />
		<script src="https://unpkg.com/flowbite@1.6.5/dist/flowbite.min.js"></script>
		<footer class="text-center py-10 mt-8">
			<p class="text-sm text-slate-500">© 2025 Gastrosafe. Todos los derechos reservados.</p>
		</footer>
	</body>
</html>

<style>
	html,
	body {
		margin: 0;
		width: 100%;
		height: 100%;
	}
</style>
