---
import Layout from "./Layout.astro";
import Navbar from "@/components/user/navbar.astro";
const { user } = Astro.props;
---

<Layout>

    <Navbar user={user} />

    <!-- Contenido principal -->
    <main class="bg-backgroundgreen relative p-3 min-h-screen">
      <slot />
    </main>
</Layout>