---
import Aside from "@/components/admin/aside.astro";
import Layout from "./Layout.astro";
const { adminName, adminEmail } = Astro.props;

---

<Layout>

      <!-- Aside fijo -->
    <Aside name={adminName} email={adminEmail} />

    <!-- Contenido principal -->
    <main class="bg-backgroundgreen relative p-3 sm:ml-64 min-h-screen">
      <slot />
    </main>
</Layout>